
apiVersion: apps/v1
kind: StatefulSet

metadata:
  name: es
  namespace: elasticsearch
  
  labels:
    app: elasticsearch
    component: cluster

spec:
  serviceName: es-discovery
  replicas: 3
  
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch

    spec:
      
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - elasticsearch
                topologyKey: kubernetes.io/hostname

      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000

      serviceAccountName: elasticsearch

      initContainers:
        

        - name: fix-permissions
          image: busybox:1.35
          command: ['sh', '-c', 'chown -R 1000:1000 /usr/share/elasticsearch/data']
          volumeMounts:
            - name: data
              mountPath: /usr/share/elasticsearch/data
        
        - name: increase-vm-max-map-count
          image: busybox:1.35
          command: ['sysctl', '-w', 'vm.max_map_count=262144']
          securityContext:
            privileged: true

      containers:
        - name: elasticsearch
          
          image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
          imagePullPolicy: IfNotPresent


          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
            limits:
              memory: "4Gi"
              cpu: "2"


          env:
            
       
            - name: ES_JAVA_OPTS
              value: "-Xms1536m -Xmx1536m"
            
            - name: ELASTIC_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: elasticsearch-credentials
                  key: elastic-password
            
            - name: TRANSPORT_PASSPHRASE
              valueFrom:
                secretKeyRef:
                  name: elasticsearch-credentials
                  key: transport-passphrase
            
            - name: HTTP_PASSPHRASE
              valueFrom:
                secretKeyRef:
                  name: elasticsearch-credentials
                  key: http-passphrase
            
            - name: discovery.type
              value: "single-node"
            
            - name: CLUSTER_NAME
              value: "es-cluster"
            
            - name: DISCOVERY_SEED_HOSTS
              value: "es-discovery"
            
            - name: CLUSTER_INITIAL_MASTER_NODES
              value: "es-0,es-1,es-2"

          
          ports:
            - containerPort: 9200
              name: http
              protocol: TCP
            
            - containerPort: 9300
              name: transport
              protocol: TCP

          
          livenessProbe:
            httpGet:
              path: /_cluster/health
              port: 9200
              scheme: HTTPS
              httpHeaders:
                - name: Authorization
                  value: Basic ZWxhc3RpYzplbGFzdGljcGFzc3dvcmQ=
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3

  
          
          readinessProbe:
            httpGet:
              path: /_cluster/health?local=true
              port: 9200
              scheme: HTTPS
              httpHeaders:
                - name: Authorization
                  value: Basic ZWxhc3RpYzplbGFzdGljcGFzc3dvcmQ=
            initialDelaySeconds: 40
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 2

          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE

          volumeMounts:
            

            
            - name: data
              mountPath: /usr/share/elasticsearch/data

            
            - name: config
              mountPath: /usr/share/elasticsearch/config/elasticsearch.yml
              subPath: elasticsearch.yml
            

            - name: certs
              mountPath: /usr/share/elasticsearch/config/certs
              readOnly: true

      
      volumes:
        
       
        - name: config
          configMap:
            name: elasticsearch-config

        
        - name: certs
          secret:
            secretName: elasticsearch-certs
            defaultMode: 0400

  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "standard"
        resources:
          requests:
            storage: 10Gi
